/.vs/A815/config/applicationhost.config
/.vs/A815/CopilotIndices/17.14.995.13737/CodeChunks.db
/.vs/A815/CopilotIndices/17.14.995.13737/SemanticSymbols.db
/.vs/A815/FileContentIndex/978eb179-ed7b-4dcf-b4a0-2bf6fe9966cb.vsidx
/.vs/A815/FileContentIndex/ba3149b9-43ff-4469-b098-f52032ece449.vsidx
/.vs/A815/v17/.wsuo
/.vs/A815/v17/DocumentLayout.backup.json
/.vs/A815/v17/DocumentLayout.json
/.vs/A815/v17/TestStore/0/000.testlog
/.vs/A815/v17/TestStore/0/testlog.manifest
/.vs/launch.vs.json
/.vs/slnx.sqlite
/.vs/tasks.vs.json
/.vs/VSWorkspaceState.json
/ConsoleApp815/.vs/ConsoleApp815/CopilotIndices/17.14.995.13737/CodeChunks.db
/ConsoleApp815/.vs/ConsoleApp815/CopilotIndices/17.14.995.13737/CodeChunks.db-shm
/ConsoleApp815/.vs/ConsoleApp815/CopilotIndices/17.14.995.13737/CodeChunks.db-wal
/ConsoleApp815/.vs/ConsoleApp815/CopilotIndices/17.14.995.13737/SemanticSymbols.db
/ConsoleApp815/.vs/ConsoleApp815/CopilotIndices/17.14.995.13737/SemanticSymbols.db-shm
/ConsoleApp815/.vs/ConsoleApp815/CopilotIndices/17.14.995.13737/SemanticSymbols.db-wal
/ConsoleApp815/.vs/ConsoleApp815/DesignTimeBuild/.dtbcache.v2
/ConsoleApp815/.vs/ConsoleApp815/FileContentIndex/0ec4da3f-deac-46c0-90ad-12e43e361e6e.vsidx
/ConsoleApp815/.vs/ConsoleApp815/FileContentIndex/31073e5c-1bb5-4df7-a7b2-9907d570efac.vsidx
/ConsoleApp815/.vs/ConsoleApp815/FileContentIndex/a3d5f473-18dd-41af-8ef8-a681050ef529.vsidx
/ConsoleApp815/.vs/ConsoleApp815/v17/.futdcache.v2
/ConsoleApp815/.vs/ConsoleApp815/v17/.suo
/ConsoleApp815/.vs/ConsoleApp815/v17/DocumentLayout.backup.json
/ConsoleApp815/.vs/ConsoleApp815/v17/DocumentLayout.json
/ConsoleApp815/.vs/ConsoleApp815/v17/TestStore/0/000.testlog
/ConsoleApp815/.vs/ConsoleApp815/v17/TestStore/0/testlog.manifest
/ConsoleApp815/.vs/ProjectEvaluation/consoleapp815.metadata.v9.bin
/ConsoleApp815/.vs/ProjectEvaluation/consoleapp815.projects.v9.bin
/ConsoleApp815/.vs/ProjectEvaluation/consoleapp815.strings.v9.bin
/ConsoleApp815/bin/Debug/net9.0/1token.json/Google.Apis.Auth.OAuth2.Responses.TokenResponse-user
/ConsoleApp815/bin/Debug/net9.0/client_secret.json
/ConsoleApp815/bin/Debug/net9.0/ConsoleApp815.deps.json
/ConsoleApp815/bin/Debug/net9.0/ConsoleApp815.dll
/ConsoleApp815/bin/Debug/net9.0/ConsoleApp815.exe
/ConsoleApp815/bin/Debug/net9.0/ConsoleApp815.pdb
/ConsoleApp815/bin/Debug/net9.0/ConsoleApp815.runtimeconfig.json
/ConsoleApp815/bin/Debug/net9.0/Google.Apis.Auth.dll
/ConsoleApp815/bin/Debug/net9.0/Google.Apis.Core.dll
/ConsoleApp815/bin/Debug/net9.0/Google.Apis.dll
/ConsoleApp815/bin/Debug/net9.0/Google.Apis.Drive.v3.dll
/ConsoleApp815/bin/Debug/net9.0/Google.Apis.Sheets.v4.dll
/ConsoleApp815/bin/Debug/net9.0/Newtonsoft.Json.dll
/ConsoleApp815/bin/Debug/net9.0/runtimes/win/lib/net7.0/System.Management.dll
/ConsoleApp815/bin/Debug/net9.0/System.CodeDom.dll
/ConsoleApp815/bin/Debug/net9.0/System.Management.dll
/ConsoleApp815/bin/Debug/net9.0/token.json/Google.Apis.Auth.OAuth2.Responses.TokenResponse-user
/ConsoleApp815/client_secret.json
/ConsoleApp815/obj/ConsoleApp815.csproj.nuget.dgspec.json
/ConsoleApp815/obj/ConsoleApp815.csproj.nuget.g.props
/ConsoleApp815/obj/ConsoleApp815.csproj.nuget.g.targets
/ConsoleApp815/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/ConsoleApp815/obj/Debug/net9.0/apphost.exe
/ConsoleApp815/obj/Debug/net9.0/ConsoleA.BB829187.Up2Date
/ConsoleApp815/obj/Debug/net9.0/ConsoleApp815.AssemblyInfo.cs
/ConsoleApp815/obj/Debug/net9.0/ConsoleApp815.AssemblyInfoInputs.cache
/ConsoleApp815/obj/Debug/net9.0/ConsoleApp815.assets.cache
/ConsoleApp815/obj/Debug/net9.0/ConsoleApp815.csproj.AssemblyReference.cache
/ConsoleApp815/obj/Debug/net9.0/ConsoleApp815.csproj.BuildWithSkipAnalyzers
/ConsoleApp815/obj/Debug/net9.0/ConsoleApp815.csproj.CoreCompileInputs.cache
/ConsoleApp815/obj/Debug/net9.0/ConsoleApp815.csproj.FileListAbsolute.txt
/ConsoleApp815/obj/Debug/net9.0/ConsoleApp815.dll
/ConsoleApp815/obj/Debug/net9.0/ConsoleApp815.GeneratedMSBuildEditorConfig.editorconfig
/ConsoleApp815/obj/Debug/net9.0/ConsoleApp815.genruntimeconfig.cache
/ConsoleApp815/obj/Debug/net9.0/ConsoleApp815.GlobalUsings.g.cs
/ConsoleApp815/obj/Debug/net9.0/ConsoleApp815.pdb
/ConsoleApp815/obj/Debug/net9.0/ConsoleApp815.sourcelink.json
/ConsoleApp815/obj/Debug/net9.0/ref/ConsoleApp815.dll
/ConsoleApp815/obj/Debug/net9.0/refint/ConsoleApp815.dll
/ConsoleApp815/obj/project.assets.json
/ConsoleApp815/obj/project.nuget.cache
/ConsoleApp815/obj/Release/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/ConsoleApp815/obj/Release/net9.0/ConsoleApp815.AssemblyInfo.cs
/ConsoleApp815/obj/Release/net9.0/ConsoleApp815.AssemblyInfoInputs.cache
/ConsoleApp815/obj/Release/net9.0/ConsoleApp815.assets.cache
/ConsoleApp815/obj/Release/net9.0/ConsoleApp815.csproj.AssemblyReference.cache
/ConsoleApp815/obj/Release/net9.0/ConsoleApp815.GeneratedMSBuildEditorConfig.editorconfig
/ConsoleApp815/obj/Release/net9.0/ConsoleApp815.GlobalUsings.g.cs
